body {
    font-family: 'Golos Text', sans-serif;

    margin: 0;
    padding: 0;
}

*,
*::after,
*::before  {
    box-sizing: border-box;
}

:root {
    --header-bg-color: #E9DED4;
    --header-bg-image: url(public/image23.png);
    --ellips-bg-image: url(public/sunBg.png);
    --city-bg-image: url(public/citybg.png);
}

.container {
    margin: 0 auto;
    max-width: 1336px;
    width: 100%;
}

.container-flex {
    display: flex;
}

.mTop140 {
    margin-top: 140px;
}


/*============= header =============*/

.header {
    background: var(--header-bg-image) center no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    background-color: var(--header-bg-color);
    width: 1920px;
    height: 700px;
}
.header_575 {
    background: var(--header-bg-image) center no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    background-color: var(--header-bg-color);
    display: none;
}

/*------ header_rightPart ------ */
.rightPart {
    margin-left: 57px;
    z-index: 1;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-top: 26px;
}
.header_logo__horses {
    display: flex;
}

.header_logo__text {
    font-family: 'Golos Text';
    font-size: 16.65px;
    font-weight: bold;
    line-height: 107%;
    color: #595653;
    padding-left: 6.5px;
}

.header_content {
    margin-top: 62px;
    width: 542px;
    height: 444px;
    z-index: 10;
}
.header_content__heading {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 60px;
    color: #313131;
    text-transform: uppercase;
    width: 542px;
    height: 264px;
    line-height: 110%;
}

.content__heading-2 {
    padding-left: 91px;
}
.content__heading-3 {
    padding-left: 33px;
}
.header_content__signature {
    font-family: 'Golos Text';
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #313131;
    margin-top: 24px;
}
.header_content__signature_575 {
    display: none;
    font-family: 'Golos Text';
    font-size: 18px;
    line-height: 130%;
    color: #313131;
}
.header_content__buttons {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
    width: 542px;
    height: 72px;
    margin-top: 40px;
    color: #FFFFFF;
    font-family: 'Golos Text';
    font-weight: 500;
    line-height: 130%;
}
.content__buttons-support {
    width: 100%;
    padding: 15px 20px 20px 20px;
    cursor: pointer;
    background: #1f1f1f;
    border-radius: 66px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}
.content__buttons-support:hover {
    background: #FBCE51;
    color: #1F1F1F;
}
.content__buttons-detail {
    width: 100%;
    padding: 14px 20px 20px 20px;
    cursor: pointer;
    border: 2px solid #1f1f1f;
    border-radius: 66px;
    text-align: center;
    color: #1F1F1F;
    transition: all 0.3s ease;
    cursor: pointer;
}
.content__buttons-detail:hover {
    background: #1F1F1F;
    color: #FFFFFF;
}

.header_content__buttons_575 {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 335px;
    height: 110px;
    margin-top: 32px;
    color: #FFFFFF;
    font-family: 'Golos Text';
    font-weight: 500;
    line-height: 130%;
    font-size: 16px;
}
.content__buttons-support_575 {
    width: 100%;
    padding: 13px 43px 13px 43px;
    cursor: pointer;
    background: #1f1f1f;
    border-radius: 66px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}
.content__buttons-support_575:hover {
    background: #FBCE51;
    color: #1F1F1F;
}

.content__buttons-detail_575 {
    width: 100%;
    padding: 13px 43px 13px 43px;
    cursor: pointer;
    border-radius: 66px;
    text-align: center;
    color: #1F1F1F;
    background: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}
.content__buttons-detail_575:hover {
    background: #1F1F1F;
    color: #FFFFFF;
}







/*------ header_leftPart ------ */
.leftPart {
    margin-left: 60.5px;
    position: relative;
}

.header_ellipsGroup {
    width: 660px;
    height: 660px;
    transform: translate(0, -44px);
    position: relative;

    background: var(--ellips-bg-image);
    background-position: 0px 43px;
    background-blend-mode: color-burn;
    background-color: #FBCE51;
    border-radius: 50%;
}

.header_ellipsGroup__ellips_575 {
    position: absolute;
    top: 383px;
    width: 350px;
    height: 350px;
    background:
            url(public/sunBg_575.png) 27px 27px no-repeat,
            url(public/sun_575.png) no-repeat
;
    background-blend-mode: color-burn;
}

.header_ellipsGroup__text {
    top: 44px;
    left: -59px;
    position: absolute;
    mix-blend-mode: overlay;
    width: 778px;
    height: 665px;
    background-image: url(public/sun_letters.png);
}

.header_kingFigure {
    width: 131px;
    height: 266px;
    position: absolute;
    top: 270px;
    left: 55px;
    background:
            url(public/king_bg.png) 14px 3.5px no-repeat ,
            url(public/king.png);
    background-blend-mode: color-burn;
}
.header_kingFigure_575 {
    position: absolute;
    width: 61px;
    height: 122px;
    position:sticky;
    top: 16px;
    left: 458px;
    background:
            url(public/king_bg_575.png) 8px 2px no-repeat ,
            url(public/king_575.png);
    background-blend-mode: color-burn;
}

.header_queenFigure {
    width: 146px;
    height: 266px;
    position: absolute;
    top: 165px;
    left: 388px;
    background:
            url(public/queen_bg.png) 3px 7px no-repeat,
            url(public/queen.png);
    background-blend-mode: color-burn;
}
.header_queenFigure_575 {
    width: 74px;
    height: 114px;
    position: absolute;
    top: 0px;
    left: 640px;
    background:
            url(public/queen_bg_575.png) 4px 6px no-repeat,
            url(public/queen_575.png);
    background-blend-mode: color-burn;
}

.header_city {
    position: absolute;
    top: 270px;
    transform: translate(-131px, 0);
    width: 1624px;
    height: 430px;

    background:
            var(--city-bg-image) 289.5px 0 no-repeat,
            url(public/city.png),
            url(public/recCity_right.png) 1555px 369px no-repeat,
            url(public/recCity_left.png) -10px 343px no-repeat;
    background-blend-mode: color-burn;

}
.header_city_575-wrapper {
    position: absolute;
    right: 0;
}
.header_city_575 {
    position: absolute;
    top: 498px;
    right: 0px;
    width: 776px;
    height: 287px;

    background:
            url(public/city_bg_575_withChess.png) 135.5px 6px no-repeat,
            url(public/city_575_withChess.png) no-repeat
;
    background-blend-mode: color-burn;
}


.header_cityPath {
    position: absolute;
    width: 1604px;
    height: 441px;
    top: -11px;
    left: -3px;
    background: url(public/cityPath.png);
}
.header_cityPath_575 {
    position: absolute;
    width: 784px;
    height: 253px;
    top: 34px;
    left: -3px;
    background: url(public/cityPath_575.png);
}

.header_knight {
    position: absolute;
    width: 197px;
    height: 218px;
    top: 212px;
    left: 952px;
    background: url(public/knight.png);
}
.header_knight_575 {
    position: absolute;
    width: 98px;
    height: 135px;
    top: 163px;
    left: 548px;
    background: url(public/knight_575.png);
    z-index: 2;
}

.header_pawn {
    position: absolute;
    width: 84px;
    height: 123px;
    top: 288px;
    left: 1355px;
    background: url(public/pawn.png);
}




/*============= runningLine =============*/

@keyframes runText {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.runningLine {
    width: 1920px;
    height: 60px;
    background-color: #F54932;
    font-family: 'Merriweather';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    overflow: hidden;
    text-transform: uppercase;
    gap: 12px;
}

.runningLine_wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    white-space: nowrap;
    animation: runText 20s linear infinite;
}

.runningLine_text {
    padding-right: 20px;
}

.runningLine_point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
}




/*============= main =============*/

.main {
    display: flex;
    width: 1920px;
}
.main_575 {
    flex-direction: column;
    align-items: center;
    display: none;
    width: 575px;
}
.containerColumn {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/*------ main_support ------ */
.main_support {
    margin-top: 80px;
    width: 1222px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_support__text {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 36px;
    color: #313131;
    line-height: 135%;
    text-transform: uppercase;
}
.main_support__text-red {
    color: #F54932;
    font-weight: 700;
}
.main_support__img {
    width: 394px;
    height: 250px;

}



/*------ main_simultaneousGame ------ */
.main_simultaneousGame {
    margin-top: 37px;
    display: flex;
    width: 1222px;
}

.main_simultaneousGame_img {
    width: 530px;
    height: 560px;
    transform: translate(-27px, 0);
    background:
            url(public/simultaneousGame_bg.png),
            url(public/simultaneousGame_img.png);
    background-blend-mode: color-burn;
    -webkit-mask-image: url(public/simultaneousGame_img.png);
    mask-image: url(public/simultaneousGame_img.png);
}
.main_simultaneousGame_img_575 {
    width: 370px;
    height: 399px;
    transform: translate(-27px, 0);
    background:
            url(public/simultaneousGame_bg_575.png),
            url(public/simultaneousGame_img_575.png);
    background-blend-mode: color-burn;
    -webkit-mask-image: url(public/simultaneousGame_img_575.png);
    mask-image: url(public/simultaneousGame_img_575.png);
}

.main_simultaneousGame__rightPart {
    margin-left: -12px;
    margin-top: 30px;
}
.simultaneousGame__rightPart-text {
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 36px;
    color: #313131;
    line-height: 135%;
    text-transform: uppercase;
    width: 704px;
    height: 147px;
}
.simultaneousGame__rightPart-textRed {
    color: #F54932;
    font-weight: 700;
}
.simultaneousGame__rightPart-table {
    margin-top: 58px;
    font-size: 20px;
    font-family: 'Golos Text';
    color: #313131;
    line-height: 120%;
}

.simultaneousGame__rightPart-table table {
    width: 100%;
    border-collapse: collapse;
}

.simultaneousGame__rightPart-table tr {
    height: 38px;
}

.simultaneousGame__rightPart-table tr:not(:last-child, :first-child)  {
    height: 56px;
}

.simultaneousGame__rightPart-table tr:first-child  {
    vertical-align: top;
}

.simultaneousGame__rightPart-table tr:last-child  {
    vertical-align: bottom;
}

.simultaneousGame__rightPart-table tr:not(:last-child) td {
    border-bottom: 2px solid #D0D0D0;
}

.simultaneousGame__rightPart-table td:not(:first-of-type) {
    border-left: 2px solid #D0D0D0;
    padding-left: 16px;
}

.td_left {
    font-weight: 400;
    width: 306px;
    color: #838383;
}
.td_right {
    font-weight: 600;
}
.lineThrough {
    text-decoration: line-through #F54932 2px solid;
}

.simultaneousGame__rightPart-questions {
    margin-top: 51px;
    color: #3057A2;
    font-family: 'Golos Text';
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    transition: 0.3s;
    cursor: pointer;
}

.simultaneousGame__rightPart-questions:hover {
    color: #F54932;
}





/*------ main_transformStages ------ */
.main_transformStages {
    margin-top: 200px;
    position: relative;
}
.main_transformStages__header {
    width: 806px;
    height: 130px;
    font-family: 'Merriweather';
    font-size: 54px;
    color: #313131;
    text-transform: uppercase;
    line-height: 120%;
    font-weight: 400;
}
.main_transformStages__link {
    position: absolute;
    top: 68px;
    left: 301px;
    width: 280px;
    height: 48px;
    color: #3057A2;
    font-family: 'Golos Text';
    font-size: 20px;
    cursor: pointer;
    line-height: 120%;
    font-weight: 400;
}
.main_transformStages__link:hover {
    color: #F54932;
}

.main_transformStages_blocks {
    margin-top: 54px;
    display: grid;
    width: 1222px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: 
        "block_1 block_2 block_3"
        "block_4 block_5 block_3"
        "block_6 block_7 block_7"
;

    font-family: 'Golos Text';
    color: #313131;
    line-height: 120%;
    font-size: 20px;
    font-weight: 500;
}
.transformStages_block_1 {
    position: relative;
    grid-area: block_1;
    width: 394px;
    height: 112px;
    background:
            url(public/bg_block_1245.png),
            url(public/bg2_block_1245.png);
    background-blend-mode: color-burn;
}
.transformStages_block_1-text {
    position: absolute;
    width: 302px;
    height: 72px;
    top: 20px;
    left: 72px;
}

.transformStages_block_2 {
    position: relative;
    grid-area: block_2;
    width: 394px;
    height: 112px;
    background:
            url(public/bg_block_1245.png),
            url(public/bg2_block_1245.png);
    background-blend-mode: color-burn;
}
.transformStages_block_2-text {
    position: absolute;
    width: 302px;
    height: 72px;
    top: 20px;
    left: 72px;
}

.transformStages_block_3 {
    position: relative;
    grid-area: block_3;
    width: 394px;
    height: 244px;
    background:
            url(public/bg_block_3.png),
            url(public/bg2_block_3.png);
    background-blend-mode: color-burn;
}
.transformStages_block_3-text {
    position: absolute;
    width: 302px;
    height: 144px;
    top: 20px;
    left: 72px;
}
.transformStages_block_4 {
    position: relative;
    grid-area: block_4;
    width: 394px;
    height: 112px;
    background:
            url(public/bg_block_1245.png),
            url(public/bg2_block_1245.png);
    background-blend-mode: color-burn;
}
.transformStages_block_4-text {
    position: absolute;
    width: 302px;
    height: 48px;
    top: 20px;
    left: 72px;
}

.transformStages_block_5 {
    position: relative;
    grid-area: block_5;
    width: 394px;
    height: 112px;
    background:
            url(public/bg_block_1245.png),
            url(public/bg2_block_1245.png);
    background-blend-mode: color-burn;
}
.transformStages_block_5-text {
    position: absolute;
    width: 302px;
    height: 72px;
    top: 20px;
    left: 72px;
}

.transformStages_block_6 {
    position: relative;
    grid-area: block_6;
    width: 394px;
    height: 136px;
    background:
            url(public/bg_block_6.png),
            url(public/bg2_block_6.png);
    background-blend-mode: color-burn;
}
.transformStages_block_6-text {
    position: absolute;
    width: 302px;
    height: 96px;
    top: 20px;
    left: 72px;
}

.transformStages_block_7 {
    position: relative;
    grid-area: block_7;
    width: 803px;
    height: 136px;
    background:
            url(public/bg_block_7.png),
            url(public/bg2_block_7.png);
    background-blend-mode: color-burn;
}
.transformStages_block_7-text {
    position: absolute;
    width: 446px;
    height: 96px;
    top: 20px;
    left: 72px;
}
.transformStages_block_7-img {
    position: absolute;
    top: -97px;
    left: 465px;
}

.transformStages_block-circleNum {
    position: absolute;
    margin: 20px 0 0 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Golos Text';
    color: #313131;
    line-height: 120%;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2px;
}



.main_transformStages_blocks_575 {
    margin-top: 148px;
    position: relative;
    display: flex;
    width: 335px;
    height: 300px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 28px;

    background: url(public/bg_block_575.png), url(public/bg2_block_575.png);
    background-blend-mode: color-burn;
}

.transformStages_block-imgPlane {
    position: absolute;
    width: 335px;
    height: 182px;
    top: -128px;
}

.transformStages_block__1And2-wrapper {
    position: absolute;
    left: 20px;
    top: 62px;
    width: 291px;
    height: 204px;
    transition: 0.5s;
}

.transformStages_block__1-wrapper {
    display: flex;
    height: 88px;
    margin-bottom: 12px;
}

.transformStages_block__2-wrapper {
    display: flex;
    height: 88px;
}

.transformStages_block__3-wrapper {
    position: absolute;
    left: 20px;
    top: 62px;
    width: 295px;
    height: 132px;
    opacity: 0;
    transition: 0.5s;
}

.transformStages_block__4And5-wrapper {
    position: absolute;
    left: 20px;
    top: 62px;
    width: 295px;
    height: 138px;
    opacity: 0;
    transition: 0.5s;
}

.transformStages_block__4-wrapper {
    display: flex;
    height: 44px;
    margin-bottom: 28px;
}

.transformStages_block__5-wrapper {
    display: flex;
    height: 66px;
}

.transformStages_block__6-wrapper {
    position: absolute;
    left: 20px;
    top: 62px;
    width: 295px;
    height: 110px;
    opacity: 0;
    transition: 0.5s;
}

.transformStages_block__7-wrapper {
    position: absolute;
    left: 20px;
    top: 62px;
    width: 295px;
    height: 176px;
    opacity: 0;
    transition: 0.5s;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}

.main_transformStages__header-slider {
    margin: 0 auto;

    width: 178px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stylesSliderBtn_575 {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #313131;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}
.stylesSliderBtn_575:hover {
    background-color: #FBCE51;
}
.transformStages-slider_prevBtn {
    padding: 9px 0 0 12px;
}
.transformStages-slider_nextBtn {
    padding: 9px 0 0 14px;
}
.disableBtn {
    background-color: #D6D6D6;
    cursor: initial;
}
.disableBtn:hover {
    background-color: #D6D6D6;
    cursor: initial;
}


.transformStages-slider_countSlide {
    display: flex;
    gap: 6px;
}

.slider_countSlide__point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
    transition: 0.5s;
}
.slider_countSlide__point-current {
    background-color: #313131;
}



/*------ main_participants ------ */
.main_participants {
    margin-top: 200px;
}
.main_participants__header {
    width: 1222px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Golos Text';
    color: #313131;
    line-height: 120%;
    font-size: 16px;
    font-weight: 400;
}
.main_participants__header-text {
    font-family: 'Merriweather';
    font-size: 54px;
    color: #313131;
    text-transform: uppercase;
    line-height: 120%;
    font-weight: 400;
}
.main_participants__header-slider {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stylesSliderBtn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #313131;
    transition: 0.3s;
    cursor: pointer;
    user-select: none;
}
.stylesSliderBtn:hover {
    background-color: #FBCE51;
}
.participants-slider_prevBtn {
    padding: 12px 0 0 14px;
}
.participants-slider_nextBtn {
    padding: 12px 0 0 18px;
}
.participants-slider_disableBtn {
    background-color: #D6D6D6;
    cursor: initial;
}
.participants-slider_disableBtn:hover {
    background-color: #D6D6D6;
}



.main_participants__players {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.participants__player {
    width: 394px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_name {
    margin-top: 28px;
    font-family: 'Golos Text';
    color: #313131;
    line-height: 120%;
    font-size: 24px;
    font-weight: 600;
}
.player_rank {
    margin-top: 6px;
    font-family: 'Golos Text';
    color: #838383;
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
}
.player_more {
    margin-top: 20px;
    border: 1px solid #3057A2;
    border-radius: 62px;
    width: 112px;
    height: 35px;
    font-family: 'Golos Text';
    color: #3057A2;
    line-height: 120%;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 10px;
    transition: 0.3s;
}
.player_more:hover {
    color: #FFFFFF;
    background-color: #3057A2;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}




.main_participants__players_575 {
    width: 335px;
    height: 388px;
    margin-top: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.participants__player_575 {
    position: absolute;
    width: 394px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.5s;
}

.main_participants__header-slider_575 {
    margin: 0 auto;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.participants-slider_prevBtn_575 {
    padding: 9px 0 0 12px;
}
.participants-slider_nextBtn_575 {
    padding: 9px 0 0 14px;
}
.participants-slider_counter {
    color: #838383;
}
#currentSlide_575 {
    color: #313131;
}
#currentSlide {
    color: #313131;
}


/*============= footer =============*/
footer {
    width: 1920px;
    height: 150px;
    background-color: #E9DED4;
    display: flex;
    justify-content: center;
}
.footer_text {
    margin-top: 40px;
    width: 1222px;
    height: 38px;
    font-family: 'Golos Text';
    color: #838383;
    line-height: 120%;
    font-size: 16px;
    font-weight: 400;
}
.footer_text_575 {
    margin-top: 40px;
    width: 335px;
    height: 114px;
    font-family: 'Golos Text';
    color: #838383;
    line-height: 120%;
    font-size: 16px;
    font-weight: 400;
    display: none;
}






/*++++++++++++++++++ adaptive layout ++++++++++++++++++*/

@media (max-width: 1367px) {
    body {
        overflow-x: hidden;
        max-width: 1366px;
    }
    .header {
        max-width: 1366px;
    }
    .header_ellipsGroup__text {
        max-width: 735px;
    }
    .header_city {
        max-width: 1482px;
    }
    .header_cityPath {
        max-width: 1485px;
    }
    .runningLine  {
        max-width: 1366px;
    }
    .main {
        max-width: 1366px;
    }
    footer {
        max-width: 1366px;
    }
}

@media (max-width: 575px) {
    body {
        overflow-x: hidden;
        max-width: 575px;
    }
    .container {
        max-width: 375px;
        padding-left: 20px;
    }
    .header {
        display: none;
    }
    .header_575 {
        max-width: 575px;

        height: 771px;
        display: block;
    }
    .rightPart {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .header_logo {
        margin-top: -2px;
        padding-top: 20px;
    }
    .header_logo__horses {
        gap: 2px;
    }
    .logo__horses-horse {
        width: 18.75px;
        height: 27px;
    }
    .header_logo__text {
        font-family: 'Golos Text';
        font-size: 14.42px;
        font-weight: bold;
        line-height: 107%;
        color: #595653;
        padding-left: 3.5px;
    }
    .header_content {
        margin-top: 40px;
        height: auto;
        width: 335px;
    }
    .header_content__heading {
        font-size: 36px;
        width: 335px;
        height: 160px;
        line-height: 110%;
        padding-top: 2px;
    }
    .content__heading-2 {
        padding-left: 63.25px;
    }
    .content__heading-3 {
        padding-left: 30px;
    }
    .header_content__signature {
        display: none;
    }
    .header_content__signature_575 {
        display: block;
        margin-top: 24px;
    }
    .runningLine  {
        max-width: 575px;
        width: 100%;
        height: 38px;
        font-size: 16px;
        z-index: 3;
        position: relative;
        margin-top: 3px;
    }


    .main {
        display: none;
    }
    .main_575 {
        display: flex;
        max-width: 575px;
        width: 100%;
    }
    .containerColumn {
        max-width: 335px;
        width: 100%;
    }
    .main_support {
        margin-top: 48px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:inherit;
    }
    .main_support__text {
        font-size: 28px;
        display: flex;
        flex-direction: column;
    }
    .main_support__img {
        margin: 24px 0 24px 0;
        width: 335px;
        height: 212.5px;
    }

    .main_simultaneousGame {
        margin-top: 21px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: inherit;
    }
    .main_simultaneousGame_img {
        width: 420px;
        height: 374px;
    }
    .main_simultaneousGame_img_575 {
        transform: translate(0, 0);
    }
    .main_simultaneousGame__rightPart {
        margin-left: 0;
    }
    .simultaneousGame__rightPart-text {
        font-size: 28px;
        width: 335px;
        height: 228px;
    }
    .simultaneousGame__rightPart-table {
        margin-top: 42px;
        font-size: 20px;
        width: 335px;
    }
    .simultaneousGame__rightPart-table tr:not(:nth-child(4)) {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .simultaneousGame__rightPart-table tr {
        width: 335px;
    }
    .simultaneousGame__rightPart-table tr:first-child,
    .simultaneousGame__rightPart-table tr:last-child {
        height: 76px;
    }
    .simultaneousGame__rightPart-table tr:nth-child(2) {
        height: 82px;
    }
    .simultaneousGame__rightPart-table tr:nth-child(3) {
        height: 92px;
    }
    .simultaneousGame__rightPart-table tr:nth-child(4) {
        height: 56px;
        display: flex;
        align-items: center;
    }
    .simultaneousGame__rightPart-table tr:nth-child(4) td {
        margin-top: 0;
    }
    .simultaneousGame__rightPart-table tr:nth-child(4) td:first-of-type {
        width: 150px;
    }
    .simultaneousGame__rightPart-table tr:nth-child(4) td:last-of-type {
        padding-top: 3px;
    }
    .simultaneousGame__rightPart-table tr:not(:last-child) {
        border-bottom: 2px solid #D0D0D0;
    }
    .simultaneousGame__rightPart-table tr:not(:last-child) td {
        border: none;
    }
    .simultaneousGame__rightPart-table td:not(:first-of-type) {
        padding-left: 0;
        border: none;
    }
    .td_right:not(:first-of-type) {
        padding-top: 12px;
    }
    .simultaneousGame__rightPart-questions {
        font-size: 18px;
        margin-top: 40px;
    }

    .main_transformStages {
        margin-top: 120px;
    }
    .container-flex {
        display: flex;
        flex-direction: column;
    }
    .main_transformStages__header {
        font-size: 36px;
        height: 120px;
        width: 335px;
        line-height: 110%;
    }
    .main_transformStages__link {
        font-size: 18px;
        position: static;
        padding-top: 12px;
        width: 335px;
        height: auto;
    }
    .transformStages_block-circleNum {
        margin: 0;
    }
    .transformStages_block_1-text {
        width: 239px;
        height: 88px;
        top: 0;
        left: 52px;
    }
    .transformStages_block_2-text {
        width: 239px;
        height: 88px;
        top: 100px;
        left: 52px;
    }
    .transformStages_block_3-text {
        width: 243px;
        height: 132px;
        top: 0;
        left: 52px;
    }
    .transformStages_block_4-text {
        width: 243px;
        height: 44px;
        top: 0;
        left: 52px;
    }
    .transformStages_block_5-text {
        width: 243px;
        height: 66px;
        top: 72px;
        left: 52px;
    }
    .transformStages_block_6-text {
        width: 243px;
        height: 110px;
        top: 0;
        left: 52px;
    }
    .transformStages_block_7-text {
        width: 243px;
        height: 176px;
        top: 0;
        left: 52px;
    }


    .main_participants {
        margin-top: 120px;
    }
    .main_participants:not(:first-child) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main_participants__header-text {
        font-size: 36px;
        line-height: 110%;
        width: 335px;
        height: 80px;
    }
    .player_foto {
        width: 244px;
        height: 244px;
    }
    .player_rank {
        margin-top: 8px;
    }

    .mTop140 {
        margin-top: 100px;
    }

    footer {
        max-width: 575px;
        width: 100%;
        height: 214px;
        background-color: #E9DED4;
        display: flex;
        justify-content: center;
    }
    .footer_text {
        display: none;
    }
    .footer_text_575 {
        display: block;
    }

}

